@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hello-do {
	display: flex;
	flex: 1 0 calc(1vw - 1px);
	width: auto;
	color: #fff;
	user-select: none;
	background-color: rebeccapurple;
}
